<header class="app-header">
    <div class="left">
        <a href="{{ path('app_flow') }}" title="Vinylo Flow">
            <img src="{{ asset('img/logo_flow.png') }}" alt="Flow"/>
            Flow
        </a>
    </div>

    <div class="app-sitename">
        <h1>
            Vinyl
            <img src="{{ asset('img/logo_vinylo.png') }}" alt="Vinylo"/>
        </h1>
        <p class="app-account">
            Bonjour
            <a href="{{ path('app_profile') }}">Nicolas</a>
        </p>
    </div>

    <div class="right">
        <a href="{{ path('app_vault') }}" title="Vinylo Vault">
            <img src="{{ asset('img/logo_vault_on.png') }}" alt="Vault"/>
            Vault
        </a>
    </div>
</header>
