<footer class="app-navigation">
    <a href="{{ path('app_vault') }}" class="active">
        {{ ux_icon('lucide-lab:floppy-disks-rear', {'class': 'app-icon'}) }}
        Collection
    </a>
    <a href="#">
        {{ ux_icon('material-symbols:playlist-play', {'class': 'app-icon'}) }}
        Playlists
    </a>
    <a href="#">
        {{ ux_icon('lets-icons:search-alt', {'class': 'app-icon'}) }}
        Recherche
    </a>
    <a href="#">
        {{ ux_icon('oui:stats', {'class': 'app-icon'}) }}
        Stats
    </a>
    <a href="#">
        {{ ux_icon('mage:compact-disk', {'class': 'app-icon'}) }}
        Nouveau
    </a>
</footer>
