{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block bodyclass %}profile{% endblock %}

{% block body %}
    <header class="app-header">
        <a href="{{ path('app_flow') }}">
            <img src="{{ asset('img/logo_flow.png') }}" alt="Flow"/>
            Flow
        </a>

        <div class="app-sitename">
            <h1>
                Vinyl
                <img src="{{ asset('img/logo_vinylo.png') }}" alt="Vinylo"/>
            </h1>
            <p class="app-account">
                Connectez-vous
            </p>
        </div>

        <a href="{{ path('app_vault') }}" disabled="disabled">
            <img src="{{ asset('img/logo_vault.png') }}" alt="Vault"/>
            Vault
        </a>
    </header>

    <section class="app-section headline">
        <div class="app-links">
            <a href="{{ path('app_register') }}" class="text-info">
                <small>Vous arrivez ?</small>
                Créez votre compte
            </a>
        </div>
    </section>

    <main class="app-main">
        <form action="" class="app-form">
            <fieldset class="form-fieldset">
                <legend class="form-legend">Vos Identifiants</legend>

                <div class="form-group">
                    <label for="email" class="form-label required">Votre adresse e-mail</label>
                    <input type="email" name="email" id="email" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Votre mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control"/>
                </div>
            </fieldset>

            <fieldset class="form-fieldset controls">
                <button type="submit" class="form-submit">Connexion</button>
            </fieldset>
        </form>
    </main>
{% endblock %}
