{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}
{% block bodyclass %}profile{% endblock %}

{% block body %}
    <header class="app-header">
        <a href="{{ path('app_flow') }}">
            <img src="{{ asset('img/logo_flow.png') }}" alt="Flow"/>
            Flow
        </a>

        <div class="app-sitename">
            <h1>
                Vinyl
                <img src="{{ asset('img/logo_vinylo.png') }}" alt="Vinylo"/>
            </h1>
            <p class="app-account">
                Votre profil
            </p>
        </div>

        <a href="{{ path('app_vault') }}">
            <img src="{{ asset('img/logo_vault.png') }}" alt="Vault"/>
            Vault
        </a>
    </header>

    <section class="app-section headline">
        <div class="app-links">
            <button
                type="button"
                class="link-like"
                data-controller="modal--modal-opener"
                data-modal--modal-opener-modal-value="#app-modal"
                data-modal--modal-opener-variant-value="confirm"
                data-modal--modal-opener-size-value="s"
                data-modal--modal-opener-title-value="Supprimer votre compte ?"
                data-modal--modal-opener-body-url-value="{{ path('modal_confirm', { title: 'votre compte' }) }}"
                data-modal--modal-opener-footer-html-value='
        <button type="button" data-action="modal--modal#close">Annuler</button>
        <button type="button" data-primary class="bg-danger" data-action="modal--modal#confirm">Supprimer</button>
      '
                data-action="click->modal--modal-opener#open"
            >
                Supprimer votre compte
            </button>
        </div>
    </section>

    <main class="app-main">
        <form action="" class="app-form">
            <fieldset class="form-fieldset">
                <legend class="form-legend">Informations</legend>

                <div class="form-group">
                    <label for="pseudo" class="form-label required">Votre pseudo</label>
                    <input type="text" name="pseudo" id="pseudo" class="form-control" value="Nicolas" required/>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label required">Votre adresse e-mail</label>
                    <input type="email" name="email" id="email" class="form-control" value="nvauche@gmail.com" required/>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Votre mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control"/>
                    <p class="help">Laissez-le vide pour ne pas le modifier</p>
                </div>
            </fieldset>

            <fieldset class="form-fieldset">
                <legend class="form-legend">Localisations</legend>

                <div class="form-group">
                    <label for="home" class="form-label">Enregistrées</label>
                    <div class="app-grid">
                        <input type="text" name="home" id="home" class="form-control" value="Maison" required/>
                        <input type="text" name="city" id="city" class="form-control" value="Gouzon" required/>
                    </div>
                    <div class="app-grid">
                        <input type="text" name="home" id="home" class="form-control" value="Sophie" required/>
                        <input type="text" name="city" id="city" class="form-control" value="Montluçon" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="add" class="form-label">Ajouter</label>
                    <div class="app-grid">
                        <input type="text" name="add" id="add" class="form-control" placeholder="Nom"/>
                        <input type="text" name="add-city" id="add-city" class="form-control" placeholder="Ville"/>
                    </div>
                </div>
            </fieldset>

            <button type="submit" class="form-submit">Enregistrer</button>
        </form>
    </main>
{% endblock %}
