<header class="app-header">
    <a href="{{ path('app_flow_home') }}" {% if not app.user %}disabled="disabled"{% endif %}>
        <img src="{{ asset('img/logo_flow.png') }}" alt="Flow"/>
        Flow
    </a>

    <div class="app-sitename">
        <h1>
            Vinyl
            <img src="{{ asset('img/logo_vinylo.png') }}" alt="Vinylo"/>
        </h1>
        <p class="app-account">
            Créez votre compte
        </p>
    </div>

    <a href="{{ path('app_vault_home') }}" {% if not app.user %}disabled="disabled"{% endif %}>
        <img src="{{ asset('img/logo_vault.png') }}" alt="Vault"/>
        Vault
    </a>
</header>
